.container {
  padding: 50px 0px;
  max-width: 600px;
  margin: 0 auto;
}

.filters {
  display: flex;
  justify-content: space-between;
}

.filters__item {
  flex: 1 1 33%;
}

.groups {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px 50px;
}
